body {
    background: #222;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

#pong {
    background: #000;
    border: 2px solid #fff;
    box-shadow: 0 0 20px #222;
    display: block;
}